{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'global/css/style.css' %}">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:wght@400;400italic;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        /* Adiciona rolagem suave para o HTML */
        html {
            scroll-behavior: smooth;
        }
    </style>
    <title>RAFA BURG'S</title>
</head>

<body class="main-bg">

    <aside class="menu blackbar-bg">
        <div class="main-content menu-content">
            <h1><a href="#promocoes"><img src="{% static 'global/img/logo300.png' %}" alt="Logo" class="img-logo"></a>
            </h1>

            <nav class="menu-nav">
                <ul>
                    {% for categoria in categorias %}
                        <li><a href="#{{ categoria.name|slugify }}">{{ categoria.name }}</a></li>
                    {% endfor %}
                    <li><a href="#contato">Contato</a></li>
                </ul>
            </nav>
            <h1><a href="#section1"><img src="{% static 'global/img/carrinho.png' %}" alt="Logo" class="cart-img"></a>
            </h1>
        </div>
    </aside>

    <section id="section1" class="main-bg section"></section>

    {% for categoria in categorias %}
        <!-- Renderiza uma seção para cada categoria -->
        <section id="{{ categoria.name|slugify }}" class="main-bg section">
            <div class="image-text-container">
                <h1 class="titulo-section">{{ categoria.name }}</h1>
                <div class="linha-produtos">
                    {% for produto in produtos %}
                        {% if produto.categoria == categoria %}
                            <div class="image-text-item faded-thin-black-bg">
                                {% if produto.foto_do_produto %}
                                    <img src="{{ produto.foto_do_produto.url }}" alt="{{ produto.nome_do_produto }}">
                                {% else %}
                                    <img src="{% static 'global/img/default.png' %}" alt="Imagem padrão">
                                {% endif %}
                                <h2 class="titulo-produto">{{ produto.nome_do_produto }}</h2>
                                <p>{{ produto.descrição }}</p>
                                <h3 class="preço-produto">{{ produto.preço }}</h3>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endfor %}

    <section id="contato" class="main-bg section9">
        <div class="contact-header">
            <h2 id="titulo-section7">Entre em Contato Conosco</h2>
        </div>
        <div class="contact-content">
            <div class="contact-column contact-info">
                <h3>Informações de Contato</h3>
                <p>Endereço: Av. Ayrton Senna, 3782-3866 - Capim Macio, Natal - RN, 59088-300</p>
                <p>Telefone: (84) 99219-7676</p>
                <div class="contact-form">
                    <h3>Formulário de Contato</h3>
                    <form action="/enviar-formulario" method="post">
                        <label for="name">Nome:</label>
                        <input type="text" id="name" name="name" required>
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required>
                        <label for="message">Mensagem:</label>
                        <textarea id="message" name="message" rows="2" required></textarea>
                        <button type="submit">Enviar</button>
                    </form>
                </div>
            </div>
            <div class="contact-column">
                <h3>Localização</h3>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24191.4187880704!2d-35.203223699999996!3d-5.8716941!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7b2ff5d55fc2dcb%3A0xe4a8c0916b4a01c1!2sRAFA%20BURG'S!5e0!3m2!1spt-BR!2sbr!4v1694830631984!5m2!1spt-BR!2sbr"
                    width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
                <p> </p>
                <h3>Horário de Funcionamento</h3>
                <p>TODOS OS DIAS : 19:00 - 02:00</p>
                <p>ENTREGA : 19:00 - 02:00</p>
            </div>
        </div>
    </section>

    <a href="https://wa.me/558492197676" class="whatsapp-icon" target="_blank">
        <i class="fab fa-whatsapp"></i>
    </a>

    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script>
        const swiper = new Swiper('.swiper-container', {
            loop: true,
            autoplay: {
                delay: 4500,
                disableOnInteraction: false,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            effect: 'slide',
            speed: 1000,
            slidesPerView: 1,
            spaceBetween: 30,
            grabCursor: true,
        });

        document.addEventListener('DOMContentLoaded', () => {
            const images = document.querySelectorAll('.image-item');
            const textElement = document.getElementById('section2-text');
            const titleElement = document.getElementById('section2-title');

            textElement.textContent = "Explore as performances vibrantes de nossos alunos. Em cada apresentação, eles mostram seu talento e dedicação, oferecendo um espetáculo musical que emociona e inspira. Nossos eventos são uma oportunidade para vivenciar a paixão e o crescimento dos futuros músicos. Cada apresentação é cuidadosamente preparada para proporcionar uma experiência memorável para o público, destacando a evolução e o compromisso dos nossos alunos com a arte musical. Junte-se a nós para celebrar e apoiar os artistas em formação e testemunhar o impacto da música em suas vidas.";
            titleElement.textContent = "SHOW DOS ALUNOS";

            images.forEach(image => {
                image.addEventListener('click', () => {
                    const newText = image.getAttribute('data-text');
                    const newTitle = image.getAttribute('data-title');
                    textElement.textContent = newText;
                    titleElement.textContent = newTitle;

                    document.querySelector('.section-part').scrollIntoView({ behavior: 'smooth' });
                });
            });
        });
    </script>
</body>

</html>
