{% extends "global/index_administrador.html" %}

{% block content %}
<div style="position: relative;">
    <!-- Botão de adicionar produto -->
    <a href="{% url 'site_rafaburguer:adicionar_produto' %}" class="add-button">
        Adicionar Novo Produto
    </a>

    <div class="product-actions">
        <h1 style="text-align: center; font-size: 2.4rem; margin-bottom: 2rem; color: #000000;">Lista de Produtos</h1>

        <!-- Lista de produtos -->
        <div class="results-container">
            {% if produtos %}
            <div class="results-table">
                <table>
                    <thead>
                        <tr>
                            <th>Nome do Produto</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for produto in produtos %}
                        <tr>
                            <td>{{ produto.nome_do_produto }}</td>
                            <td>
                                <a href="{% url 'site_rafaburguer:atualizar_produto' produto.id %}"
                                    class="action-link">Atualizar</a>
                                -
                                <a href="{% url 'site_rafaburguer:excluir_produto' produto.id %}"
                                    class="action-link">Excluir</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <p>Nenhum produto encontrado.</p>
            {% endif %}
        </div>
    </div>
</div>

<!-- CSS -->
<style>
    .add-button {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background-color: var(--primary-color);
        color: var(--white-color);
        padding: 0.5rem 1rem;
        font-size: 1.6rem;
        border-radius: 0.5rem;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

    .add-button:hover {
        background-color: #0056b3;
    }

    .results-container {
        margin-top: 2rem;
        text-align: center;
    }

    .results-table {
        background-color: #ffffff;
        border-radius: 0.5rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 1.69rem;
        overflow-x: auto;
        max-width: 100%;
        margin: 0 auto;
    }

    .results-table table {
        width: 100%;
        border-collapse: collapse;
    }

    .results-table th,
    .results-table td {
        border: 1px solid #ddd;
        padding: 1.35rem;
        font-size: 1.52rem;
        color: #000000;
    }

    .results-table th {
        background-color: var(--primary-color);
        color: #ffffff;
        font-weight: bold;
    }

    .results-table tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .results-table tbody tr:hover {
        background-color: #ffffff;
    }

    .action-link {
        color: blue;
        text-decoration: none;
    }

    .action-link:hover {
        text-decoration: underline;
    }

    @media (max-width: 768px) {
        .results-table {
            width: 100%;
            overflow-x: auto;
            display: block;
        }

        .results-table table {
            width: 100%;
            min-width: 800px;
        }
    }
</style>
{% endblock %}