<!-- templates/produtos/listar_produtos.html -->
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Listar Produtos</title>
</head>

<body>
    <h1>Lista de Produtos</h1>
    <a href="{% url 'site_rafaburguer:adicionar_produto' %}">Adicionar Novo Produto</a>
    <ul>
        {% for produto in produtos %}
        <li>
            {{ produto.nome_do_produto }} -
            <a href="{% url 'site_rafaburguer:atualizar_produto' produto.id %}">Atualizar</a> -
            <a href="{% url 'site_rafaburguer:excluir_produto' produto.id %}">Excluir</a>
        </li>
        {% endfor %}
    </ul>
</body>

</html>